# Environments
.venv/
venv/
env/
ENV/
Procturing_analysis/venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Binaries
*.so
*.dylib

# Env vars
.env



# Lock files
uv.lock
poetry.lock
Pipfile.lock
package-lock.json
yarn.lock

# Reports
reports/
tests/out/

# OS specific
.DS_Store
